*{
    font-family: 'Asap', sans-serif;
    font-family: 'Caveat Brush', cursive;
    font-family: 'Modern Antiqua', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Preahvihear', sans-serif;
}

body{
    background-color: #0CF574 !important;
}

#nav_custom{
    background-color: #0CF574 !important;
}

.navbar-nav{
    display: flex !important;
    justify-content: space-evenly !important;
}
.navbar-nav button{
    text-align: center;
    background-color: #284B63;
    color: white !important;
    font-size: 11px !important;
    width: 100px !important;
    height: 30px !important;
    margin: 0.7rem;
    border: none;
    border-radius: 12px;
    text-shadow: 0.7px 0.7px 4px white;
    padding-top: 8px;
    padding-bottom: 18px;
    box-shadow: 2px 2px 8px white;
    transition: 0.5s;
}
.navbar-nav button:hover{
    transform: scale(1.1);
}
.navbar-brand img{
    transition: 0.5s;
}
.navbar-brand img:hover{
    transition: 0.5s;
    transform: rotate(5deg);
}

.selectBtns{
    display: flex;
    justify-content: center;
    width: 100%;
}

.selectBtns a img{
    height: 74px;
    width: 250px;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.5s;
}

.selectBtns a img:hover{
    opacity: 1;
}

@media(max-width: 992px){
    .selectBtns{
        width: 0% !important;
    }
    .selectBtns a img{
        width: 150px !important;
        height: 50px !important;
    }
}

.outer{
    height: 500px;
    width: 500px;
    margin-top: 3rem;
}

.vertical{
    height: 500px;
    width: 500px;
    /* background-color: pink; */
    position: absolute;

}
.horizontal{
    height: 500px;
    width: 500px;
    /* background-color: blue; */
    position: absolute;
}

.vertical .line_one{
    height: 450px;
    width: 9px;
    background-color: #47a7bded;
    position: absolute;
    z-index: 2;
    left: 33.3%;
    top: 4%;
    border-radius: 40px;
}
.vertical .line_two{
    height: 450px;
    width: 9px;
    background-color: #47a7bded;
    position: absolute;
    z-index: 2;
    left: 66.6%;
    top: 4%;
    border-radius: 40px;
}

.horizontal .line_one{
    width: 470px;
    height: 9px;
    background-color: #47a7bded;
    position: absolute;
    z-index: 2;
    top: 33.3%;
    left: 2%;
    border-radius: 40px;
}
.horizontal .line_two{
    width: 470px;
    height: 9px;
    background-color: #47a7bded;
    position: absolute;
    z-index: 2;
    top: 66.6%;
    left: 2%;
    border-radius: 40px;
}

.box{
    height: 166.67px;
    width: 166.67px;
    /* background: pink; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_one{
    width: 500px;
    display: flex;
    justify-content: space-between;
}


/* .one{
    left: 44.5%;
}

.two{
    left: 58.5%;
}
.three{
    top: 53%;
} */
/* .four{
    top: 53%;
    left: 44.5%;
}
.five{
    top: 53%;
    left: 58.5%;
}
.six{
    top: 75%;
}
.seven{
    top: 75%;
    left: 44.5%;
}
.eight{
    top: 75%;
    left: 58.5%;
} */


.opacity{
    opacity: 1 !important;
}

.size{
    height: 74px;
    width: 240px;
}

.over{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3F84E5;
    color: white;
    z-index: 5;
    top: 0.001%;
    font-size: 50px;
}